body {
    background: black url("img/lumiere.jpg") no-repeat;
    background-size: cover;
    background-position: relative;
}

div {
    width: 450px;
    margin: 0 auto;
    padding-top: 20px;
}

p {
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {

    color: lightgray;
    font-size: 10px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;

}

a {

    color: orange;

}

img {

    float: right;

}